body{
    font-family: 'Montserrat','sans-serif';
    margin: 0;
    background-color: black;
    color: white;
    overflow: hidden;
    height: 100vh;
    
}
.main{
    height: 100vh;
    display: flex;
}

.sidebar{
    background-color:black;
    width: 340px;
    border-radius: 1rem; 
}

.main-content{
    background-color: #121212;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
     
}

.music-player{
    background-color: black;
    position:fixed;
    bottom: 0px;
    width: 100%;
    height: 72px;
}
a{
    text-decoration: none;
    color: white;
}
.nav{
    margin: 1rem;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;
    border-radius: 1rem;
     
    
}
.nav-option{
    line-height: 2.5rem;
    opacity: 0.7;
     
}
.nav-option:hover{
    line-height: 2.5rem;
    opacity: 1;
     
}
.nav-option i{
    font-size: 1.25rem;
}
.nav-option a{
    font-size: 1rem;
    margin-left: 1rem;
}

.library{
    background-color: #121212;
    border-radius: 1rem;
    padding: 0.5rem 0.75rem;
    margin: 1rem;
    height: 500px; 
}
.lib-option{
    display: flex;
    flex-direction: row;
    opacity: 0.7;
    justify-content: space-between;
    margin-bottom: 1rem;
    height: 56px;
    width: 280px;
    padding: 0.5rem 1rem;
}
.lib-option:hover{
    opacity: 1;
}
.your-lib img{
    height: 1.25rem;
    width: 1.25rem; 
    margin-right: 0.5rem;   
}

.cardsl{
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 380px;

}
 
.bt{
    background-color: white;
    color: black;
    border-radius: 1rem;
    
}
.create{
    padding: 1rem 1.25rem;
    background-color: #282727;
    border-radius: 1rem;
    width: 283px;
    height: 140px;
}
#a{
    font-size: 16px;
    font-weight: bold;
}
#b{
    font-size: 14px;
    font-weight: 600;
     
}
.bt{
    height: 2rem;
    padding: 0.25rem 1rem;
    font-size: 14px;
    font-weight: bold;
    border: 0px;
}
.bt:hover{
    transform: scale(1.05);

}
.podcast{
    padding: 1rem 1.25rem;
    background-color: #282727;
    border-radius: 1rem;
    width: 283px;
    height: 185px;
}
 
 /* Navbar */
 
 .sticky-nav{
    position:sticky;
    top: 0;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0rem 1rem 0rem;
    height: 4rem;
    z-index: 10;
 }
 .sticky-nav-icon{
     
   margin-left: 0.75rem; 
   height: 2rem;
   width: rem;
   display: flex;  
 }
 .sticky-nav-icon img{
    width: 1rem;
    height: 1rem;
    margin: 0.5rem;
    
 }
 
 .sticky-nav-options{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
.nav-item{
    margin-right: 1rem;
}

.dark-badge{
     background-color: black;
     color: white;
}

 
/* Cards */
#head{
    font-weight: 600;
    font-size: 20px;
    padding-left: 1rem;
    margin-top: 1rem;
}
.cards-container{
    display: flex;
    display: inline-block;
    flex-wrap: wrap;
    
    
}
.cards-container:hover{
    transform: scale(1.05);
    
}

.card{
    background-color: #282727;
    width: 170px;
    color: white;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
    

}
.card img{
     
    width: 100%;
    border-radius:0.5rem;
    
}
.card-title{
    font-weight: 600;
}
.card-info{
    font-size: 0.85rem;
    opacity: 0.8;
}
 
/* Music Player */

.music-player{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.player{
    width: 50%;
}
.album {
    width: 25%;
     
}

.controls{
    width: 25%;
}
 
 .pci{
    height: 1rem;
    margin-right: 1.75rem;
    opacity: 0.7;
 }
 .pci:hover{
    opacity: 1;
 }
 
 .player-controls
 {
    display: flex;
    justify-content: center;
    align-items: center;
     
 }
 
 .playback-bar{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .progress-bar{
    width: 70%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
    
 }
 .progress-bar::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius: 100px;
    height: 0.2rem;
    
 }
 
 .progress-bar::-webkit-slider-thumb{
    appearance: none;
    height: 16px;
    width: 16px;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -6px;
   
 } 

 .album{
    display: flex;
    
     
 }
 #img img{
    height: 3.5rem;
    width: 3.5rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
     
 }
 .midnight{
    height: 19.2px;
    margin-top: 0.5rem;
    
 }
 .midnight p{
    font-weight: 600;
    margin-top: 0.5rem;
    margin-bottom: 0px;
    height: 19.2px;
 }
 .clover{
    height: 16.8px;
    width: 200px;
 }
.clover p{
    font-size: 12px;
    opacity: 0.7;
    height: 16.8px;
    width: 55.71px;
    font-weight: 400;
    margin-top: 0.25rem;
     
}
 
.live {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.live img{
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 1rem;
}
 
.in-controls{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ci{
    height: 2rem;
    margin-left: 0.5rem;
}
.cii{
    height: 1rem;
    margin-left: 0.5rem;

}
  
.volume{
    width: 25%;
    appearance: white;
    background-color: transparent;
    cursor: pointer;
    align-items: centre;
    
}
  
.volume::-webkit-slider-runnable-track{
    background-color: #282727;
    border-radius: 100px;
    height: 0.2rem;
    
 }
  
 .volume::-webkit-slider-thumb{
    appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
   margin-top: -6px;
   background-color: antiquewhite;
   display: none;
   
 } 
  
  
  
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 